{% extends 'basic/pattern.html' %}
{% load static %}
{% load common_tags %}
{% block page_title %}Помощь{% endblock %}
{% block page_description %}Компания Название сайта отвечает на часто задаваемые вопросы для того, чтобы вам было проще ориентироваться на сайте. Мы рады выстраивать с вами крепкие и доверительные отношения!
{% endblock %}

{% block semantics %}

<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:title" content="название сайта отвечает на вопросы" />
<meta property="og:description" content="Компания Название сайта отвечает на часто задаваемые вопросы для того, чтобы вам было проще ориентироваться на сайте. Мы рады выстраивать с вами крепкие и доверительные отношения!" />
<meta property="og:url" content="https://site.ru/help/" />
<meta property="og:site_name" content="название сайта" />
<meta property="og:image" content="https://site.ru//static/icons/company_1200x630.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />


<script type='application/ld+json'> 
    {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "name": "название компании",
        "url": "https://site.ru/company/",
        "logo": "{% static 'icons/company.png' %}",
        "image": "{% static 'icons/company.png' %}",
        "description": "Компания Название сайта отвечает на часто задаваемые вопросы для того, чтобы вам было проще ориентироваться на сайте. Мы рады выстраивать с вами крепкие и доверительные отношения!",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "г. Иркутск, ул. Ленина, 6",
        "addressLocality": "Иркутск",
        "addressRegion": "Иркутская область",
        "addressCountry": "Россия"
        },
        
        "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "89011234567",
        "contactType": "general"
        }
    }
</script>


{% endblock %}

{% block content %}
 <section>
 {% block content_title %}
 <h1>Часто задаваемые вопросы</h1>
{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
{% breadcrumb_url 'Главная' 'main:index' %}
{% breadcrumb_url 'Часто задаваемые вопросы' %}
</ul>
{% endblock %}
        <div class="w_70_sm pos_center_for_div">
          <div class="margin_top-bootom_1em">На нашем сайте вы можете приобрести разные виды программного обеспечения и программных продуктов, а также
            следить за своими заказами из 
            <a class="link_as_a text_bold" href="{% url 'user:personal_data' %}">Личного кабинета</a>. 
            Далее мы предлагаем вам ознакомиться с основными разделами заказов.
          </div>
          <h2 class="margin_top_2">Скачать бесплатно
          </h2>
          <div class="">Очень богат русский язык словами, относящимися к временам года и к природным явлениям, с ними связанным.
            Возьмем хотя бы раннюю весну. У неё, у этой ещё зябнувшей от последних заморозков девочки-весны, 
            есть в котомке много хороших слов.
            <br>
            Начинаются оттепели, ростепели, капели с крыш. Снег делается зернистым, ноздреватым, оседает и 
            чернеет. Его съедают туманы. Постепенно развозит дороги, наступает распутица, бездорожье. 
            На реках появляются во льду первые промоины с черной водой, а на буграх — проталины и проплешины.
            По краю слежавшегося снега уже желтеет мать-и-мачеха.
          </div>
          <div class="pos_center margin_top_2">
            <a href="/softwares/?soft_price=soft_price_free" class="button_show-more w_40_md">Каталог бесплатных продуктов</a>
          </div>
          <h2 class="margin_top_2 ">Приобрести платную разработку
          </h2>
          <div class="">Очень богат русский язык словами, относящимися к временам года и к природным явлениям, с ними связанным.
            Возьмем хотя бы раннюю весну. У неё, у этой ещё зябнувшей от последних заморозков девочки-весны, 
            есть в котомке много хороших слов.
            <br>
            Начинаются оттепели, ростепели, капели с крыш. Снег делается зернистым, ноздреватым, оседает и 
            чернеет. Его съедают туманы. Постепенно развозит дороги, наступает распутица, бездорожье. 
            На реках появляются во льду первые промоины с черной водой, а на буграх — проталины и проплешины.
            По краю слежавшегося снега уже желтеет мать-и-мачеха.
          </div>
          <div class="pos_center margin_top_2">
            <a href="/softwares/?soft_price=soft_price_paid" class="button_show-more w_40_md">Каталог платных продуктов</a>
          </div>
          <h2 class="margin_top_2 ">Заказать оригинальную разработку
          </h2>
          <div class="">Очень богат русский язык словами, относящимися к временам года и к природным явлениям, с ними связанным.
            Возьмем хотя бы раннюю весну. У неё, у этой ещё зябнувшей от последних заморозков девочки-весны, 
            есть в котомке много хороших слов.
            <br>
            Начинаются оттепели, ростепели, капели с крыш. Снег делается зернистым, ноздреватым, оседает и 
            чернеет. Его съедают туманы. Постепенно развозит дороги, наступает распутица, бездорожье. 
            На реках появляются во льду первые промоины с черной водой, а на буграх — проталины и проплешины.
            По краю слежавшегося снега уже желтеет мать-и-мачеха.
          </div>
          <div class="pos_center margin_top_2">
            <a href="{% url 'order:request_to_order' %}" class="button_show-more w_40_md">Оформление заказа</a>
          </div>
          <h2 class="margin_top_2 ">Заказать доработку
          </h2>
          <div class="">Очень богат русский язык словами, относящимися к временам года и к природным явлениям, с ними связанным.
            Возьмем хотя бы раннюю весну. У неё, у этой ещё зябнувшей от последних заморозков девочки-весны, 
            есть в котомке много хороших слов.
            <br>
            Начинаются оттепели, ростепели, капели с крыш. Снег делается зернистым, ноздреватым, оседает и 
            чернеет. Его съедают туманы. Постепенно развозит дороги, наступает распутица, бездорожье. 
            На реках появляются во льду первые промоины с черной водой, а на буграх — проталины и проплешины.
            По краю слежавшегося снега уже желтеет мать-и-мачеха.
          </div>
          <div class="pos_center margin_top_2">
            <a href="{% url 'software:catalog' %}" class="button_show-more w_40_md">Каталог</a>
          </div>
          <h2 class="margin_top_2 ">Купить лицензию
          </h2>
          <div class="">Очень богат русский язык словами, относящимися к временам года и к природным явлениям, с ними связанным.
            Возьмем хотя бы раннюю весну. У неё, у этой ещё зябнувшей от последних заморозков девочки-весны, 
            есть в котомке много хороших слов.
            <br>
            Начинаются оттепели, ростепели, капели с крыш. Снег делается зернистым, ноздреватым, оседает и 
            чернеет. Его съедают туманы. Постепенно развозит дороги, наступает распутица, бездорожье. 
            На реках появляются во льду первые промоины с черной водой, а на буграх — проталины и проплешины.
            По краю слежавшегося снега уже желтеет мать-и-мачеха.
          </div>
          <div class="pos_center margin_top_2">
            <a href="/softwares/?soft_price=soft_price_paid" class="button_show-more w_40_md">Каталог лицензируемых продуктов</a>
          </div>
        </div>
</section>
<style>
    a {
    display: inline-block;
    margin: auto;
    }
</style>
{% endblock %}