{% extends 'basic/pattern.html' %}
{% load static %}
{% load common_tags %}
{% block page_title %}Оставить заявку{% endblock %}
{% block page_description %}Компания Название сайта предлагает вам оставить заявку на разработку. Это ни к чему не обязывает вас, вам перезвонят, все расскажут и помогут!
{% endblock %}

{% block semantics %}

<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Оставь заявку на разработку - название сайта" />
<meta property="og:description" content="Компания Название сайта предлагает вам оставить заявку на разработку. Это ни к чему не обязывает вас, вам перезвонят, все расскажут и помогут!" />
<meta property="og:url" content="https://site.ru/order/request/" />
<meta property="og:site_name" content="название сайта" />
<meta property="og:image" content="https://site.ru//static/icons/company_1200x630.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />


<script type='application/ld+json'> 
    {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "name": "название компании",
        "url": "https://site.ru/order/request/",
        "logo": "{% static 'icons/company.png' %}",
        "image": "{% static 'icons/company.png' %}",
        "description": "Компания Название сайта предлагает вам оставить заявку на разработку. Это ни к чему не обязывает вас, вам перезвонят, все расскажут и помогут!",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "г. Иркутск, ул. Ленина, 6",
        "addressLocality": "Иркутск",
        "addressRegion": "Иркутская область",
        "addressCountry": "Россия"
        },
        
        "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "89011234567",
        "contactType": "general"
        }
    }
</script>

{% endblock %}

 {% block content %}
<section>
{% block breadcrumb %}
<ul class="breadcrumb">
{% breadcrumb_url 'Главная' 'main:index' %}
{% breadcrumb_url 'Оставить заявку' %}
</ul>
{% endblock %}
        <div class="margin_top_2">     
          <!-- Форма комментария -->
          <fieldset class="border_fieldset_top">
            <legend class="pos_center padding_left-right_1em">
              <h1>Оставить заявку
              </h1>
            </legend>
            {% autoescape on %}
            <form method="post" action="{% url 'order:request_to_order' %}" id="feedback_form">
                {% csrf_token %}
              <div class = "w_50_sm_70_md pos_center margin_top_3em" class="pos_center">
                {% if not request.user.is_authenticated %}
                    <div class="input_style">
                        {% if client != '' %}
                        {{form.name}}
                        {% else %}
                        {{form.name}}
                        {% endif %}
                        <label for="name">Ваше имя</label>   
                    </div>
                    {% if form.has_changed %}
                    <div class="pos_left_for_text input_style_error">{{ form.errors.name }}</div>
                    {% endif %}
                    <div class="input_style margin_top_3em">
                    {% if client != '' %}
                    {{form.phone}}
                    {% else %}
                    {{form.phone}}
                    {% endif %}
                    <label for="phone">Номер телефона *</label>
                    </div>
                    {% if form.has_changed %}
                    <div class="pos_left_for_text input_style_error">{{ form.errors.phone }}</div>
                    {% endif %}
                {% endif %}
                <div>
                  <div class="textarea_style margin_top_3em">
                    {{form.comment}}
                    <label for="comment" class = "textarea_style_label">Опишите свои требования
                    </label>
                  </div>
                </div>
                <div class="pos_left_for_text">
                    <i class="fa fa-exclamation order_chat_i" aria-hidden="true" style="margin-right: 0.4em;">
                    </i>
                    Для уточнения заказа, установлений требований и согласования проекта мы 
                    позвоним или отправим письмо на почту вам в ближайшее время. 
                    Обращаем ваше внимание, что без телефонного звонка ваш заказ не будет принят, 
                    вам необохдимо согласовать все нюансы по телефону.
                  </div>
                <div class="pos_сenter margin_top_3em">
                    <button type="submit" class="button_show-more">Оставить заявку</button>
                </div>
              </div>
            </form>
            {% endautoescape %}
          </fieldset>
        </div>
      </section>
         {% endblock %}	

        {% block style_extend %}
        <style>
        .input_style_error {
            font-size: 80%;
            color: #F77A52;
            vertical-align: middle;
            }

        .input_style_error i {
            font-size: 110%;
            }
            
        .input_style_invalid input {
            border-bottom: 2px solid #F77A52;
            }

        .input_style_valid input {
            border-bottom: 2px solid rgb(19, 168, 76);
            }
        </style>
        {% endblock %}
        {% block js_extend %}
        <script src="{% static '/js/jquery.validate.min.js' %}" charset="UTF-8"></script>
        <script>
            jQuery(document).ready(function () {
            input_filled('input');
            input_filled('textarea');
             // Список методов валидации
		  // https://jqueryvalidation.org/documentation/#link-list-of-built-in-validation-methods
		  // mobileRU : https://github.com/jquery-validation/jquery-validation/blob/master/src/additional/mobileRU.js
            form_validate(
                $("#feedback_form"), 
                {	
                    phone:{mobileRU: true}
                },
                {

                }
                )
            })          
        </script>
        {% endblock %}
