{% load static %}
{% load common_tags %}<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="{% block page_description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fa/css/all.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">{% block link_extend %}{% endblock %}
    {% block semantics %}{% endblock %}
  </head>
  <body class = "fix_width bg-head">
    <header class = "flex_column header_container_height">
      <div class="flex_row header-top_container header-top_border flex_space-between">
        <div class="header_container_mail_phone">
          <div class="flex_row flex_space-between header_container_m_p_w">
            <div class="flex_row header_contact_center">
              <a>
                <div class="header_i_for_div margin_right_04em disp_none_header">
                  <i class="far fa-envelope header_i">
                  </i>
                </div>
              </a>
              <div class = "header_social_mail">
                <a class = "text-align" title="Почта" href="mailto: example@mail.ru">
                  example@mail.ru
                </a>
              </div>
            </div>
            <div class="flex_row header_contact_center">
              <div class="header_i_for_div margin_right_04em disp_none_header">
                <i class="fas fa-phone-alt header_i">
                </i>
              </div>
              <div class = "header_social_phone">
                <a id = "phone" class = "text-align" href = "tel:+7 (924)8793741">
                  +7 (901) 123-45-67
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex_row flex_space-between header_container_social">
          <div>
            <a class ="header_i_tlg" title="Telegram" href="https://vk.com/dmitrievnaa1999">
              <div class="header_i_for_div ">
                <i class="fab fa-telegram-plane header_i">
                </i>
              </div>
            </a>
          </div>
          <div>
            <a class ="header_i_vk" title="Vkontakte" href="https://vk.com/dmitrievnaa1999">
              <div class="header_i_for_div">
                <i class="fab fa-vk header_i ">
                </i>
              </div>   
            </a>
          </div>
          <div>
            <a class ="header_i_wa" title="WhatsApp " href="https://vk.com/dmitrievnaa1999"> 
              <div class="header_i_for_div">
                <i class="fab fa-whatsapp header_i">
                </i>
              </div>
            </a>
          </div>
          <div>
            <a class ="header_i_ig" title="Instagram " href="https://vk.com/dmitrievnaa1999"> 
              <div class="header_i_for_div">
                <i class="fab fa-instagram header_i">
                </i>
              </div>
            </a>
          </div>
        </div>
        <div class=" header_person flex_row">{% if request.user.is_authenticated %}
            <a id = "user" href="{% url 'user:Logout' %}" >Выйти</a>
            <a id = "user" href = "{% url 'user:orders' %}"> 
                <div class="header_i_for_div header_i">
                    <i class="fas fa-user">
                    </i>
                </div>Личный кабинет   
            </a>{% else %}
            <a id = "user" href="{% url 'user:Login' %}" >Войти </a> / <a id = "user" href="{% url 'user:Registration' %}" > Регистрация</a>
            <a id = "user" href = "{% url 'user:orders' %}" > 
                <div class="header_i_for_div header_i">
                  <i class="fas fa-user">
                  </i>
                </div>   
            </a>{% endif %}          
        </div>
      </div>
      <div class="flex_row header-bottom flex_space-between flex_wrap">
        <div class="header">
          <div class="flex_row flex_justify-content_flex-start logo margin_bottom_1em width_70">
            <div class="header-logo">
              <a href="{% url 'main:index' %}">
                <img class="logo" src="{% static 'icons/logo.png' %}" alt="Название сайта"/>
              </a>
            </div>
            <div class="header-logo_name">
              <a class = "link_style_none" href="{% url 'main:index' %}">Информационные технологии в бизнесе
              </a>
            </div>
          </div>
          <input class="menu-btn" type="checkbox" id="menu-btn" />
          <label class="menu-icon" for="menu-btn">
            <span class="navicon">
            </span>
          </label>
          <ul class="menu">
            <li>
              <a class = "{{ request|is_active:'/company/'}}" href="{% url 'main:company' %}">О&nbsp;компании
              </a>
            </li>
            <li>
              <a class = "{{ request|is_active:'/softwares/'}}" href="{% url 'software:catalog' %}">Каталог
              </a>
            </li>
            <li>
              <a class = "{{ request|is_active:'/articles/'}}" href="{% url 'article:list_article' %}">Статьи
              </a>
            </li>
            <li>
              <a class = "{{ request|is_active:'/reviews/'}}" href="{% url 'review:list_review' %}">Отзывы
              </a>
            </li>
            <li>
              <a class = "{{ request|is_active:'/contacts/'}}" href="{% url 'main:contacts' %}">Контакты
              </a>
            </li>
            <li>
              <a class = "{{ request|is_active:'/order/request/'}} link_style_col" href="{% url 'order:request_to_order' %}">Заказать
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'user:orders' %}">Мои&nbsp;заказы
                </a>
              </li>
              <li>
                <a href="{% url 'user:downloads' %}">Мои&nbsp;загрузки
                </a>
              </li>
              <li>
                <a class = "header_navbar_active" href="{% url 'user:favourites' %}">Избранное
                </a>
              </li>
              <li>
                <a href="{% url 'user:personal_data' %}">Мои&nbsp;данные
                </a>
              </li>
              {% else %}
              <li>
                <a href="{% url 'user:orders' %}">Мои&nbsp;заказы
                </a>
              </li>
              <li>
                <a href="{% url 'user:downloads' %}">Мои&nbsp;загрузки
                </a>
              </li>
              <li>
                <a class = "header_navbar_active" href="{% url 'user:favourites' %}">Избранное
                </a>
              </li>
            {% endif %} 
          </ul>
        </div>
        <div class="flex_row flex_justify-content_flex-start header_disp_none">
          <div class="header-logo">
            <a href="{% url 'main:index' %}">
              <img class="logo" src="{% static 'icons/logo.png' %}" alt="Название сайта"/>
            </a>
          </div>
          <div class="header-logo_name">
            <a class = "link_style_none" href="{% url 'main:index' %}">Информационные технологии в бизнесе
            </a>
          </div>
        </div>
        <div class="flex_row header_navbar header_disp_none">
          <ul>
            <li>
              <a class = "{{ request|is_active:'/company/'}}" title="О компании" href="{% url 'main:company' %}">О&nbsp;компании
              </a>
            </li>
            <li>
              <a title="Каталог" class = "{{ request|is_active:'/softwares/'}}" href="{% url 'software:catalog' %}">Каталог
              </a>
            </li>
            <li>
              <a title="Статьи" class = "{{ request|is_active:'/articles/'}}" href="{% url 'article:list_article' %}">Статьи
              </a>
            </li>
            <li>
              <a title="Отзывы" class = "{{ request|is_active:'/reviews/'}}" href="{% url 'review:list_review' %}">Отзывы
              </a>
            </li>
            <li>
              <a title="Контакты" class = "{{ request|is_active:'/contacts/'}}" href="{% url 'main:contacts' %}">Контакты
              </a>
            </li>
            <li>
              <a class ="link_style_col" class = "{{ request|is_active:'/order/request/'}}" title="заказать" href="{% url 'order:request_to_order' %}">Заказать
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'user:orders' %}" class ="link_style_col">Личный кабинет
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'user:orders' %}" class ="link_style_col">Личный кабинет
                </a>
              </li>
            {% endif %} 
          </ul>
        </div>
      </div>
    </header>{% block menu_extend %}{% endblock %}
    <main>{% block content %}{% endblock %}
      <footer class = "flex_row header_container_height flex_space-between footer_container">
        <div class="header-logo disp_none_830">
          <a href="/main.html">
            <img class="logo" href="/main.html" src="{% static 'icons/logo.png' %}" alt="Название сайта"/>
          </a>
        </div>
        <div class="footer_all-link">
          <div class="flex_row footer_container_l">
            <div class="flex_column footer_first-link">
              <a title="Заказать" class = "{{ request|is_active:'/order/request/'}}" href="{% url 'order:request_to_order' %}">Заказать
              </a>
              <a title="Доработка" class = "{{ request|is_active:'//'}}" href="/articles.html">Доработка
              </a>
              <a title="О нас" class = "{{ request|is_active:'/company/'}}" href="{% url 'main:company' %}">О нас
              </a>
            </div>
            <div class="flex_column">
              <a title="Каталог" class = "{{ request|is_active:'/softwares/'}}" href="{% url 'software:catalog' %}">Каталог
              </a>
              <a title="Статьи" class = "{{ request|is_active:'/articles/'}}" href="{% url 'article:list_article' %}">Статьи
              </a>
              <a title="Отзывы" class = "{{ request|is_active:'/reviews/'}}" href="{% url 'review:list_review' %}">Отзывы
              </a>
            </div>
          </div>
        </div>
        <div class="flex_column footer_cont_m_p_s">
          <div class="flex_row footer_cont_m_p">
            <div class="flex_row footer_container_mail">
              <a>
                <div class="header_i_for_div margin_right_04em disp_none_992">
                  <i class="far fa-envelope header_i">
                  </i>
                </div>
              </a>
              <div class = "header_social_mail">
                <a class = "text-align" title="Почта" href="mailto: example@mail.ru">
                  example@mail.ru
                </a>
              </div>
            </div>
            <div class="flex_row footer_container_phone">
              <div class="header_i_for_div margin_right_04em disp_none_992">
                <i class="fas fa-phone-alt header_i">
                </i>
              </div>
              <div class = "header_social_phone">
                <a id = "phone" class = "text-align" href = "tel:+7 (924)8793741">
                  +7 (901) 123-45-67
                </a>
              </div>
            </div>
          </div>
          <div class="flex_row footer_container_social">
            <div>
              <a class ="header_i_tlg" title="Telegram" href="https://vk.com/dmitrievnaa1999">
                <div class="header_i_for_div ">
                  <i class="fab fa-telegram-plane header_i">
                  </i>
                </div>
              </a>
            </div>
            <div>
              <a class ="header_i_vk" title="Vkontakte" href="https://vk.com/dmitrievnaa1999">
                <div class="header_i_for_div">
                  <i class="fab fa-vk header_i ">
                  </i>
                </div>   
              </a>
            </div>
            <div>
              <a class ="header_i_wa" title="WhatsApp " href="https://vk.com/dmitrievnaa1999"> 
                <div class="header_i_for_div">
                  <i class="fab fa-whatsapp header_i">
                  </i>
                </div>
              </a>
            </div>
            <div>
              <a class ="header_i_ig" title="Instagram " href="https://vk.com/dmitrievnaa1999"> 
                <div class="header_i_for_div">
                  <i class="fab fa-instagram header_i">
                  </i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </footer>
      </body>{% block style_extend %}{% endblock %}
      <script src="{% static '/js/jquery.js' %}" charset="UTF-8"></script>
      <script src="{% static '/js/jquery.form.min.js' %}" charset="UTF-8"></script>
      <script type="text/javascript" src="{% static '/js/javascript.js' %}" charset="UTF-8"></script>{% block js_extend %}{% endblock %}
    </html> 



    