{% extends 'basic/pattern.html' %}
{% load static %}
{% load common_tags %}
{% block page_title %}Обсуждения{% endblock %}
{% block page_description %}Обсуждения компании Название компании - это возможность пользователей общаться друг с другом и делиться своими впечатлениями о наших программных продуктах.
{% endblock %}

{% block semantics %}
<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="discussion" />
<meta property="og:title" content="Обсуждения" />
<meta property="og:description" content="Обсуждения компании Название компании - это возможность пользователей общаться друг с другом и делиться своими впечатлениями о наших программных продуктах."/>
<meta property="og:image" content="/media/article/цели.jpg"/>
<meta property="og:url" content="https://site.ru/discussions/softwares/{{software.id}}" />
<meta property="og:site_name" content="название сайта" />
<!-- 
<div itemscope itemtype="http://schema.org/Question">
    <h1 itemprop="name">Обсуждения ПО "{{software.name}}"</h1>
    <a href="https://site.ru/discussions/softwares/{{software.id}}" itemprop="url">сайт урл</a>
    <div itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
       <div itemprop="text">Обсуждение 1</div>
    </div>
    <div itemprop=" suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
       <div itemprop="text">Обсуждение 2</div>
    </div>
</div> -->

{% endblock %}

{% block content %}
  <section>
    <h1>Обсуждения ПО
    </h1>
    {% block breadcrumb %}
    <ul class="breadcrumb">
    {% breadcrumb_url 'Главная' 'main:index' %}
    {% breadcrumb_url 'Каталог' 'software:catalog' %}
    {% breadcrumb_url software.name 'software:software_page' software.id %}
    {% breadcrumb_url 'Обсуждения' %}
    </ul>
    {% endblock %}
    <div class="flex_row flex_space-between">
      <div>
        <h2>Интересен продукт, о котором создано обсуждение?
        </h2> 
      </div>
    </div>
    <div class="reviews_soft_full">Посмотри его прямо сейчас: 
      <a href="{% url 'software:software_page' software.id %}" class="link_style_col_bor margin_left_05em">
        {{software.name}}
      </a>
    </div>
    <div class="padding_top_2em">
    {{discussion_comment_block}}
    </div>
    <div class="padding_top_4em">    
      <!--Это контейнер похожих ПО-->
      <div class="pos_center ">
        <h2>Похожие программные продукты
        </h2>
      </div>
      <div class="">
        <fieldset class="fieldset_tags width_50 pos_center">
            <legend>Облако тегов
            </legend>
        {{similar_tags_block}}
        </fieldset>
        {{similar_block}}
      </div>
      </section>

    {% endblock %}	
    {% block js_extend %}
    <script src="{% static '/js/slick.min.js' %}"></script>
    <!-- <script src="{% static '/js/datepicker.ru.js' %}"></script> -->
    <script>
    jQuery(document).ready(function () {
        input_filled('input');
        input_filled('textarea');
        carousel_soft('same_software');
        append_discussion();
        comments_form_answer();
        comment_roll();
    })         
    </script>
    {% endblock %}

