{% extends 'basic/pattern.html' %}
{% load static %}
{% load common_tags %}
<title>{% block page_title %}Обсуждения{% endblock %}
  {% block content %}
  <section>
    <h1>Обсуждения ПО
    </h1>
    {% block breadcrumb %}
    <ul class="breadcrumb">
    {% breadcrumb_url 'Главная' 'software:catalog' %}
    {% breadcrumb_url 'Каталог' 'software:catalog' %}
    {% breadcrumb_url software.name 'software:software_page' software.id %}
    {% breadcrumb_url 'Обсуждения' %}
    </ul>
    {% endblock %}
    <div class="flex_row flex_space-between">
      <div>
        <h2>Интересен продукт, о котором создано обсуждение?
        </h2> 
      </div>
    </div>
    <div class="reviews_soft_full">Посмотри его прямо сейчас: 
      <a href="{% url 'software:software_page' software.id %}" class="link_style_col_bor margin_left_05em">
        {{software.name}}
      </a>
    </div>
    <div class="padding_top_2em">
    {{discussion_comment_block}}
    </div>
    <div class="padding_top_4em">    
      <!--Это контейнер похожих ПО-->
      <div class="pos_center ">
        <h2>Похожие программные продукты
        </h2>
      </div>
      <div class="">
        <fieldset class="fieldset_tags width_50 pos_center">
            <legend>Облако тегов
            </legend>
        {{similar_tags_block}}
        </fieldset>
        {{similar_block}}
      </div>
      </section>

    {% endblock %}	
    {% block js_extend %}
    <script src="{% static '/js/slick.min.js' %}"></script>
    <!-- <script src="{% static '/js/datepicker.ru.js' %}"></script> -->
    <script>
    jQuery(document).ready(function () {
        input_filled('input');
        input_filled('textarea');
        carousel_soft('same_software');
        append_discussion();
        comments_form_answer();
        comment_roll();
    })         
    </script>
    {% endblock %}

