<div class ="discussion_comment pos_right" style="display: none;">
    <div data-comment="container_comment">
        <div  class="discussion_comment_one flex_column">
            <div class="flex_row">
                <div class = "reviews_title">{% if comment.client %}{{comment.client.name}}{% else %}{{comment.name|default:"Неизвестный"}}{% endif %}
                </div>
                <div class = "reviews_date">{{comment.date|date:"j E Y"}}
                </div>
            </div>
            <div>
                <span>{{comment.content|linebreaks}}
                </span>
            </div>
        </div>
    </div>
    <div class="flex_row flex_space-between margin_top_1em">
        <div class="search_title btn_rollup"> 
            <a class="search_roll-up">Свернуть 
                <i class="fas fa-arrow-up">
                </i>
            </a>
        </div>
        <div class=" btn_answer_two" data-rel="{{disc.id}}">
            <button class="button_reset">Ответить
            </button>
        </div>
    </div>
</div>