{% load software_tags %}
{% if similar_list %}
<div class="margin_top_3em div_horizontal_soft">
  <div class="flex_row flex_space-between margin_top-bootom_1em padding_top_2em"  id="same_software_container">
    <div class="flex_row flex_space-between  width_90"  id="same_software">{% for soft in similar_list %}
      <section class="widget_section">
        <div class="p_1">
          <a class="link_style_none" href="{% url 'software:software_page' soft.id %}">
            <div class="widget flex_column">
              <div class = "widget_div_title">{{soft.name_small}}
              </div>
              <div class = "widget_div_img"> 
                {% if photo_dict %}
                {% with photo=photo_dict|get_value_for_dict:soft.id %}
                    {% if photo %}
                    <a href="{% url 'software:software_page' soft.id %}"><img class = "img_width cursor" src="{{photo.photo.url}}"  alt="{{soft.name}}"/></a>
                    {% endif %}
                {% endwith %}
                {% endif %}
              </div>
              <div>                   
                <ul class = "widget_list">{{soft.description_small}}
                </ul>
                <!-- <ul class = "widget_list">
                  <li class="widget_marker">Контроль доходов и расходов
                  <li class="widget_marker">Мониторинг деятельности компании
                </ul> -->
              </div>
              <button class="width_100 software_button-pay_style">Скачать бесплатно
              </button>
            </div>
          </a>
        </div>
      </section>{% endfor %}
    </div>
  </div>
  <div class="margin_top-bootom_1em pos_center">
    <a href="#" class="button_reset ">Посмотреть еще
    </a>
  </div> 
</div>{% endif %}