{% load static %}{% load common_tags %}
<div class="flex_row second_menu margin_bottom_1em header_disp_none">
  <ul class="pos_center">
    <li>
      <a class = "{{ request|is_active:'/user/lk/orders'}}" href="{% url 'user:orders' %}">Мои&nbsp;заказы
      </a>
    </li>
    <li>
      <a class = "{{ request|is_active:'/user/lk/downloads'}}" href="{% url 'user:downloads' %}">Мои&nbsp;загрузки
      </a>
    </li>
    <li>
      <a class = "{{ request|is_active:'/user/lk/favourites'}}" href="{% url 'user:favourites' %}">Избранное
      </a>
    </li>{% if request.user.is_authenticated %}
    <li>
      <a class = "{{ request|is_active:'/user/lk/personal'}}" href="{% url 'user:personal_data' %}">Мои&nbsp;данные
      </a>
    </li>{% endif %}
  </ul>
</div>
