{% load static %}
<div  class="flex_row flex_space-between">
    <div class="flex_column contact_container">
        <div class = " ">
        <a class = "pos_center link_style_none" href = "tel:+7 (924)8793741">
        <div class = " pos_center"> 
            <!-- Бокс картинки --> 
            <img  class = "contact_img" src="{% static '/icons/phone_you.png' %}"/>
        </div>
            <h2>Позвоните нам
            </h2>
            <p>Есть вопросы? Звоните скорее
            </p>
        </a>
            <div class="flex_column contact pos_center">
            <a id = "phone" class = "text-align" href = "tel:+7 (924)8793741">
                +7 (901) 123-45-67
            </a>
            <a id = "phone" class = "text-align" href = "tel:+7 (924)8793741">
                +7 (901) 123-45-67
            </a>
        </div>
        </div>
    </div>
    <div class="flex_column contact_container">
        <a class = "text-align link_style_none" href="{% url 'review:review_create' %}">
        <div class = "img_width pos_center"> 
        <!-- Бокс картинки --> 
        <img  class = "contact_img" src="{% static '/icons/review.png' %}"/>
        </div>
        <div  class = "pos_center">
        <h2>Оставьте свой отзыв
        </h2>
        <p>Поделитесь своим мнением о нашем сервисе!
        </p>
        <div class=" contact">
            <div class = "text-align link_as_a">
            Написать отзыв
            </div>
        </div>
        </div>
    </a>
    </div>
    <div class="flex_column contact_container">
        <a class = "text-align link_style_none"  href="mailto: example@mail.ru">
        <div class = "img_width pos_center"> 
            <!-- Бокс картинки --> 
            <img  class = "contact_img" src="{% static '/icons/email.png' %}"/>
        </div>
        <div  class = "pos_center" >
            <h2>Напишите нам
            </h2>
            <p>У вас есть какие-то предложения или вопросы?
            </p>
            <div class=" contact">
            <div class = "text-align link_as_a">
                example@mail.ru
            </div>
            </div>
        </div>
        </a>
    </div>
    <div class="flex_column contact_container">
        <a class = "text-align link_style_none" href="{% url 'feedback:client_feedback' %}">
        <div class = "img_width pos_center"> 
            <!-- Бокс картинки --> 
            <img  class = "contact_img" src="{% static '/icons/feedback.png' %}"/>
        </div>
        <div  class = "pos_center" >
            <h2>Обратный звонок
            </h2>
            <p>Оставьте свой номер и мы с вами свяжемся!
            </p>
            <div class=" contact">
            <div id = "phone" class = "text-align link_as_a">
                Заказать звонок
            </div>
            </div>
        </div>
        </a>
    </div>
</div>