{% extends 'basic/pattern.html' %}
{% load static %}
{% load common_tags %}
{% block page_title %}{{title|default:"Успешно"}}{% endblock %}
{% block page_description %}Успешное выполнение операции! Поздравляем вас, спасибо за доверие, будем стараться радовать вас чаще!
{% endblock %}

{% block content %}
      <section>
        {% block breadcrumb %}
        <ul class="breadcrumb">
        {% for crumb in list_crumb %}
        {% if crumb.2 %}
        {% breadcrumb_url crumb.0 crumb.1 crumb.2 %}
        {% else %}
        {% breadcrumb_url crumb.0 crumb.1 %}
        {% endif %}
        {% endfor %}
        {% breadcrumb_url 'Успешно' %}
        </ul>
        {% endblock %}
        <div class="margin_top_2">     
          <fieldset class="border_fieldset_top">
            <legend class="pos_center padding_left-right_1em">
              <h1>{{h1|default:"Успешно"}}
              </h1>
            </legend>
            <form>
              <div class = "w_50_sm_70_md pos_center margin_top_3em" class="pos_center">
                <div class="pos_left_for_text">
                    <div class="pos_center a_big padding_bottom_1em">
                        {% if message %}
                        {{message}}
                        {% endif %}
                    </div>
                    {% if download_url %}
                    <input style='display: none;' type="text" id='download_url' value="{{download_url}}">
                    <div class="padding_bottom_1em pos_center a_big">
                        ССЫЛКА НА ПО ДОБАВЛЕНА В ВАШ <a href="{% url 'user:downloads' %}" class="link_read-more link_style_border">ЛИЧНЫЙ КАБИНЕТ</a>! Можете в любое время просматривать свои скачивания.
                    </div>
                    {% endif %}
                    {% if not request.user.is_authenticated %}
                    <div class="margin_top_3em pos_center">
                        Для удобной работы на нашем сайте предлагаем вам зарегистрироваться
                    </div>
                    <div class="pos_center margin_top_07em">
                        <a href="{% url 'user:Registration' %}" class="link_read-more link_style_border a_big">
                        <span>Зарегистрироваться
                        </span>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="margin_top-bootom_1em">
                  <i class="fa fa-check i_big" aria-hidden="true">
                  </i>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
        {% endblock %}	
        {% if download_url %}
        {% block js_extend %}
        <script >
        function go_download()
            {
                var url = document.getElementById('download_url').value;
                document.location.href = url
            }
        // setTimeout(  go_download, 5000);
        </script>
        {% endblock %}
        {% endif %}
