{% extends 'basic/pattern.html' %}
{% load static %}
{% load common_tags %}
{% block page_title %}Регистрация{% endblock %}
{% block page_description %}Компания Название сайта предлагает вам зарегистрироваться на нашем сайте, чтобы просматривать свои заказы, скачивания. В свою очередь мы предоставляем вам сохранность ваших данных.
{% endblock %}

 {% block content %}
<section>
{% block breadcrumb %}
<ul class="breadcrumb">
{% breadcrumb_url 'Главная' 'main:index' %}
{% breadcrumb_url 'Регистрация' %}
</ul>
{% endblock %}
        <div class="margin_top_2">     
          <fieldset class=" padding_2em  border_fieldset_top" >
            <legend class="pos_center padding_left-right_1em">
              <h1>Регистрация
              </h1>
            </legend>
            {% autoescape on %}
            <form method="post">
            {% csrf_token %}
              <div class = "w_50_sm_70_md pos_center margin_top_2" class="pos_center">
                <div class="input_style ">
                    {{form.email_phone}}
                  <label for="email_phone">Номер телефона/ эл. почта
                  </label>
                </div>
                {% if form.has_changed %}
                <div class="pos_left_for_text input_style_error">{{ form.errors.email_phone }}</div>
                {% endif %}
                <div class="padding_top-bootom_1em">Мы отправим вам код подтверждения на указанный вами источник. Теперь это ваш пароль для входа. Поменять его можно в личном кабинете. 
                </div>
                <div class="pos_сenter">
                  <a href="#" class="button_delicate">Получить код в SMS или на почту
                  </a>
                </div>
                <div class="input_style margin_top_3em">
                  <input  id="password" type="password"  autocomplete="off" name="password">
                  <label for="password">Код подтверждения
                  </label>
                </div>
                {% if form.has_changed %}
                <div class="pos_left_for_text input_style_error">{{ form.errors.password }}</div>
                {% endif %}
                {% if form.has_changed %}
                <div class="pos_left_for_text input_style_error margin_top_1em">{{ message }}</div>
                {% endif %}
                <div class = "margin_top_1em">
                  <a href="#" class="link_read-more link_style_border">
                    <span>Отправить код повторно
                    </span>
                  </a>
                </div>
                <div class = "margin_top_1em">Уже зарегистрированы?
                  <a href="#" class="link_read-more link_style_border">
                    <span>Войти
                    </span>
                  </a>
                </div>
                <div class="flex_row flex_space-between margin_top_4em">
                  <div class="pos_сenter">
                    <a href="#" class="button_reset">Отменить
                    </a>
                  </div>
                  <div class="pos_сenter">
                    <button type="submit" class="button_show-more">Войти
                    </button>
                  </div>
                </div>
              </div>
            </form>
            {% endautoescape %}
          </fieldset>
        </div>
      </section>
      {% endblock %}
      {% block js_extend %}
        <script src="{% static '/js/jquery.validate.min.js' %}" charset="UTF-8"></script>
        <script>
            jQuery(document).ready(function () {
            input_filled('input');
            input_filled('textarea');

            // form_validate(
            //     $("#feedback_form"), 
            //     {	
            //         phone:{mobileRU: true}
            //     },
            //     {
            //         name:{required: "Введите имя"},
            //         phone:{required: "Введите телефон", mobileRU: "Некорретный номер телефона. Попробуйте еще раз"}
            //     }
            //     )
            })          
        </script>
        {% endblock %}	
