{% extends 'basic/pattern.html' %}
{% load static %}
{% load software_tags %}
{% load common_tags %}
{% block page_title %}{{software.name}}{% endblock %}
{% block page_description %}{{software.description_small}}{% endblock %}
{% block link_extend %}
<link rel="stylesheet" href="{% static '/css/lightbox.min.css' %}">
{% endblock %}
{% block semantics %}
<script type='application/ld+json'> 
    {
      "@context": "http://www.schema.org",
      "@type": "product",
      "brand": "{{classif.type}}",
      "name": "{{software.name}}",
      "image": "{{main_photo.photo.url}}",
      "description": "{{software.description_small}}"
    }
</script>

<!-- <div itemscope itemtype="http://schema.org/Product">
    <h1 itemprop="name">{{software.name}}</h1>
    <span itemprop="description">{{software.description_small}}</span>
    <img src="{{main_photo.photo.url}}">
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer"> 
        <span itemprop="price">{{software.price}}</span>
        <span itemprop="priceCurrency">RUB</span>
    </div>
</div> -->

<!-- <div itemscope itemtype="http://schema.org/SoftwareApplication">
    <span itemprop="name">{{software.name}}</span><br>
    <a href="{% url 'software:software_page' software.id %}" itemprop="url">сайт урл</a>
    <span itemprop="applicationCategory">{{classif.type}}</span><br>
    <img src="{{main_photo.photo.url}}">
    <span itemprop="description">{{software.description_small}}</span><br>
    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        Rating <span itemprop="ratingValue"></span> 
        (<span itemprop="ratingCount"> ratings</span>)
    </div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer"> 
        <span itemprop="price">{{software.price}}</span>
        <span itemprop="priceCurrency">RUB</span>
    </div>
</div> -->


<meta name="og:title" content="{{software.name}}">
<meta name="og:description" content="{{software.description_small}}">
<meta name="og:url" content="{% url 'software:software_page' software.id %}">
<meta name="og:site_name" content="имя сайта">
<meta name="og:locale" content="ru_RU">
<meta name="og:type" content="product">

{% endblock %}

 {% block content %}
 {% block content_title %}
 <h1>{{software.name}}</h1>
{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
{% breadcrumb_url 'Главная' 'main:index' %}
{% breadcrumb_url 'Каталог' 'software:catalog' %}
{% if str_filter_for_breadcrumb %}
~<li>
    <a href="../?{{str_filter_for_breadcrumb}}">{{classif.type}}
    </a>
  </li>
  {% endif %}
{% breadcrumb_url software.name %}
</ul>
{% endblock %}
 <section>
  <div class="flex_column  pos_left padding_top_2em padding_bottom_2em" >
    <div class="flex_row flex_space-between width_100"> 
      <!--Это контейнер фоток ПО и начала его описания, характеристик-->
      <div class="flex_column w_50_sm pos_center_sm"> 
        <!--фото ПО и теги(которые потом в мобилке будут убираться)-->
        <div class="flex_row flex_wrap">
        {% if main_photo %}
        <a class="example-image-link" href="{{main_photo.photo.url}}" data-lightbox="example-set" 
        data-title="{{main_photo.name}}"><img class="example-image img_width padding_bottom_2em" src="{{main_photo.photo.url}}" alt="{{main_photo.name}}"/></a>
        {% endif %} 
        {% if software_img %}
        {% for s in software_img %}
        <div class = "img_margin">
            <a class="example-image-link" href="{{s.photo.url}}" data-lightbox="example-set" 
            data-title="{{s.name}}"><img class="example-image max_width_10em_img" src="{{s.photo.url}}" alt="{{s.name}}"/></a>
        </div>
        {% endfor %}
        {% endif %} 
        {% if not main_photo and not software_img %}
            Фотографий нет
        {% endif %} 
        </div>
            {% if software_tag %}
            <fieldset class="fieldset_tags software_tag_first">
                <legend class="pos_center">Теги
                </legend>
                <form>
                    <div class = "fieldset_tags_word">
                        <span>
                        {% for tag in software_tag %}
                            <a href="catalog.html">#{{tag.name}}</a>
                        {% endfor %}
                        </span>
                    </div>        
                </form>
            </fieldset>
            {% endif %} 
      </div>
      <div class="flex_column w_50_sm padding_left_4em_sm padding_top_2em_sm"> 
        <!--Это контейнер цены, кнопок и описания-->
        <div class="flex_column"> 
          <!--Это контейнер цены и кнопок-->
            {% if software.is_free is False %}
            <div class = "page_software_price">
            {{software.price|floatformat|add:'&#8381'|default:""}}  
            </div>
            {% endif %}
          <div class="flex_column padding_bottom_2em w_70_md"> 
            {% if software.modification %}
            <!--Это контейнер кнопок-->
            <div>
                <!-- <button href="buy.html" class="button_pay width_100 margin_top-bootom_1em"> -->
                {% if software.price <= 0 or software.is_free %}
                <a href="{% url 'software:software_download' software.id %}" class="button_pay width_100 margin_top-bootom_1em">Скачать бесплатно</a>
                {% else %}
                <a href="{% url 'software:software_buy' software.id %}" class="button_pay width_100 margin_top-bootom_1em">Приобрести</a>
                {% endif %}  
            </div>
            <div class="flex_row  flex_space-between">
                <a href="{% url 'software:software_buy' software.id %}" class="button_pay button_pay_width_full">Заказать доработку</a>
                <!-- <button class="button_pay button_pay_width_full">Заказать доработку
                </button> -->
                <div>
                {% if user %}
                {% with favourite=software|is_favourite:user %}
                    {% if favourite %}
                    <i class="fa fa-heart button_like_true" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-heart button_like" aria-hidden="true"></i>
                    {% endif %}
                {% endwith %}
                {% else %}
                <i class="fa fa-heart button_like" aria-hidden="true"></i>
                {% endif %} 
                </div>
            </div>
            {% else %}
            <!--Это контейнер кнопок-->
            <div class="flex_row  flex_space-between">
                <a href="{% url 'software:software_download' software.id %}" class="button_pay button_pay_width_full">Скачать бесплатно</a>
                <div>
                    <div data-target="favourite" data-url="/softwares/favourite/"  data-id="{{software.id}}">
                    {% if user %}
                    {% with favourite=software|is_favourite:user %}
                        {% if favourite %}
                        <i class="fa fa-heart button_like_true" aria-hidden="true"></i>
                        {% else %}
                        <i class="fa fa-heart button_like" aria-hidden="true"></i>
                        {% endif %}
                    {% endwith %}
                    {% else %}
                    <i class="fa fa-heart button_like" aria-hidden="true"></i>
                    {% endif %}  
                    </div>
                </div>
            </div>
            {% endif %} 
          </div>
        </div>
        <div >
          <div>
            <ul class = "pos_left software_description_list"style = "list-style: none">
              <li class="software_description_marker">Вид: 
                <span>{{classif.type|default:"Не задано"}}
                </span>
              </li>
              <li class="software_description_marker">Область: 
                <span>{{classif.area|default:"Не задано"}}
                </span>
              </li>
              <li class="software_description_marker"> Размер приложения: {{software.size|filesizeformat|default:"Не задано"}}
              </li>
              <li class="software_description_marker">Тип использования: 
                <span>{{classif.type_of_use|default:"Не задано"}}
                </span>
              </li>
              <li class="software_description_marker">Ограничение доступа: 
                <span>{{classif.access|default:"Не задано"}}
                </span>
              </li>
              <li class="software_description_marker">Дополнительные установки: 
                <span>{{classif.extra_install|default:"Не задано"}}
                </span>
              </li>
              <li class="software_description_marker">Установка приложение: 
                <span>{{classif.install|default:"Не задано"}}
                </span>
              </li>
            </ul>
          </div>
          {% if list_descr %}
          <div class="margin_top-bootom_1em page_software_description">
            <div>{{list_descr.0}}
            </div>
            <div style="display: none;" id="description_text" class="all_text">
                {{list_descr.1|linebreaks}}
            </div>  
          </div>{% if list_descr.1 %}
          <div class="margin_top-bootom_1em pos_left bt_read_pos_center">
            <a class="button_reset text_roll" data-target="description_text">Читать полностью
            </a>
          </div>
          {% endif %}
          {% endif %} 
        </div>
      </div>
    </div>
  </div>
  <div> 
    <!--Это контейнер кнопок, которые находятся в контенте-->
    <div class="flex_row w_50_sm pos_center padding_top_2em padding_bottom_2em">
        {% if software.price <= 0 or software.is_free %}
        <a href="{% url 'software:software_download' software.id %}" class="button_pay button_pay_width_full">Скачать бесплатно</a>
        {% else %}
        <a href="{% url 'software:software_buy' software.id %}" class="button_pay button_pay_width_full">{{software.price|floatformat |default:""}}  &#8381 Приобрести</a>
        {% endif %}
      <div >
        <i class="fa fa-heart button_like width_30" aria-hidden="true">
        </i>
      </div>
    </div>
  </div>
  <div class="margin_top_3em">    
    <!--Это контейнер похожих ПО-->
    <div class="pos_center">
      <h2>Похожие программные продукты
      </h2>
    </div>
    <div>
      {% if software_tag %}
      <fieldset class="fieldset_tags  w_50_sm_auto pos_center software_tag_second">
        <legend class="pos_center">Теги
        </legend>
        <div class = "fieldset_tags_word">
            <span>
            {% for tag in software_tag %}
                <a href="catalog.html">#{{tag.name}}</a>
            {% endfor %}
            </span>
        </div>        
      </fieldset>
      {% endif %} 
      <div class="margin_top_3em"> 
        {{similar_block}}
      </div>
    </div>
    <div class="margin_top_3em">
      <div class="pos_center padding_top_2em">
        <h2>Обсуждения данного продукта
        </h2>
      </div>
      {{discussion_comment_block}}
    </div>
    </section>
    {% endblock %}	
    {% block js_extend %}
    <script src="{% static '/js/slick.min.js' %}"></script>
    <script src="{% static '/js/lightbox.min.js' %}"></script>
    <script>
        jQuery(document).ready(function () {
          input_filled('input');
          input_filled('textarea');
          carousel_soft('same_software');
          read_more_text_roll();
          favourite();
          append_discussion();
          comments_form_answer();
          comment_roll();
        })          
    </script>
    {% endblock %}
