{% extends 'basic/pattern.html' %}
{% load static %}
{% load software_tags %}
{% load common_tags %}
<title>{% block page_title %}Избранное{% endblock %}
{% block content %}
{% include "common/pattern_lk_menu.html" %}
  <section>
    <h1>Избранное
    </h1>
    {% block breadcrumb %}
    <ul class="breadcrumb">
    {% breadcrumb_url 'Главная' 'software:catalog' %}
    {% breadcrumb_url 'Личный кабинет' 'user:personal_data' %}
    {% breadcrumb_url 'Избранное' %}
    </ul>
    {% endblock %}
    <section class="margin_top_3em"> 
      {% if user %}
      {% if favourites %}
      <div class="software_container_all-width software_container pos_center_for_div">
        <div class="pos_left">
          <a href="{% url 'user:favourites_clean' %}" class="button_search">Очистить все
          </a>
        </div>
      </div>
      <!-- Контейнер для всех карточек --> 
      <div  class="flex_row pos_center article_container software_container_all-width padding_bottom_2em margin_top_2">
        <!-- Контейнер для всех карточек --> 
        {% for s in favourites %}
        <div class="column-2 review_card_software"> 
          <div class = "pos_right_for_div"> Дата добавления: {{s|get_date_joined:user|default:""|date:"j E Y"}}
          </div>	
          <article class="flex_column software_alone_container "> 
            <!-- Контейнер одной карточки --> 
            <div class = "flex_column width_100"> 
              <div>
                {% if s.is_free is False %}
                <div class = "software_price">{{s.price}} &#8381
                </div>
                {% endif %}
                <!-- Контейнер названия и типа ПО -->
                <div class="software_div_name">
                  <!-- Контейнер названия и типа ПО -->
                  <a class = "software_name" href="{% url 'software:software_page' s.id %}">{{s.name}}
                  </a>
                </div>
              </div>
              <span class = "software_type" href="software_page">{{s.get_type|join:", "|default:""}}
              </span>
            </div>
            <div class="flex_row container_img_text">  
              <!-- Контейнер картинки и текста --> 
              <div class = "flex_column software_container_image_button"> 
                <!-- Контейнер картинки и кнопок -->
                <div class = "software_div_images"> 
                  <!-- Бокс картинки --> 
                  {% if photo_dict %}
                  {% with photo=photo_dict|get_value_for_dict:s.id %}
                  {% if photo %}
                  <a href="{% url 'software:software_page' s.id %}">
                    <img class = "img_width cursor" src="{{photo.photo.url}}"  alt="{{s.name}}"/>
                  </a>
                  {% endif %}
                  {% endwith %}
                  {% endif %}
                </div>
                <div class="flex_row software_container_button flex_space-between"> 
                  <!-- Бокс кнопки покупки и лайка --> 
                  <button  href="software.html" class="software_button-pay_style dark_blue-bg software_button-pay_style_width">       
                    {% if s.price <= 0 %}
                    Скачать бесплатно
                    {% else %}
                    Приобрести
                    {% endif %}  
                       </button>
                    <div>
                      <div data-target="favourite" data-url="/softwares/favourite/"  data-id="{{s.id}}">
                        {% if user %}
                        {% with favourite=s|is_favourite:user %}
                        {% if favourite %}
                        <i class="fa fa-heart button_like_true" aria-hidden="true">
                        </i>
                        {% else %}
                        <i class="fa fa-heart button_like" aria-hidden="true">
                        </i>
                        {% endif %}
                        {% endwith %}
                        {% endif %}  
                      </div>
                    </div>
                    </div>
                </div>
                <div class = "software_description article_div_text">
                  <div style = "padding-bottom: 0.25em">Для: 
                    <span href="catalog.html">{{s.get_area|join:", "|default:"Не ограничено"}}
                    </span>
                  </div>
                  <ul class = "software_description_list"style = "list-style: none">
                    {{s.description_medium}}
                  </ul>
                </div>
              </div>
              <div class = "software_tag">
                <span>
                  {% for tag in s.get_tags %}
                  <a href="">#{{tag}}
                  </a>
                  {% endfor %}
                </span>
              </div>
              </article>
            </div>
          {% endfor %}
        </div>
        </section>
      <div class=" flex_column margin_top-bootom_1em">
        <div class=" pos_center">
          <a href="#" class="button_show-more">Показать еще
          </a>
        </div>
        <div class=" flex_row pagination flex_space-between">
          <a class = "pagination_page_numbers" href="#">&laquo;
          </a>
          <a class = "pagination_page_numbers" href="#">1
          </a>
          <a class = "pagination_page_numbers pagination_page_numbers_active"  href="#">2
          </a>
          <a class = "pagination_page_numbers" href="#">3
          </a>
          <a class = "pagination_page_numbers" href="#">4
          </a>
          <a class = "pagination_page_numbers" href="#">5
          </a>
          <a class = "pagination_page_numbers" href="#">6
          </a>
          <a class = "pagination_ellipsis" href="#">...
          </a>
          <a class = "pagination_page_numbers" href="#">15
          </a>
          <a class = "pagination_page_numbers" href="#">16
          </a>
          <a class = "pagination_page_numbers" href="#">&raquo;
          </a>
        </div>
      </div>
      {% else %}
      <div>
        Избранного пока нет, хотите добавить? Заходите в  
        <a class="text_bold" href="{% url 'software:catalog' %}">Каталог
        </a>
      </div>
      {% endif %}  
      {% endif %} 
    </section>
    {% endblock %}
    {% block js_extend %}
    <script src="{% static '/js/slick.min.js' %}">
    </script>
    <script>
      jQuery(document).ready(function () {
        favourite();
      })         
    </script>
    {% endblock %}
