{% extends 'basic/pattern.html' %}
{% load static %}

<title>{% block page_title %}Заказать звонок{% endblock %}


 {% block content %}
      <section>

        {% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <a href="main.html">Главная
    </a>
  </li>
  <li>
    <a href="catalog.html">Каталог
    </a>
  </li>
  <li>
    <a href="catalog.html">Настольные приложения
    </a>
  </li>
  <li>{{software.name}}
  </li>
</ul> 
{% endblock %}

        <div class="margin_top_2">     
          <!-- Форма комментария -->
          <fieldset class="border_fieldset_top">
            <legend class="pos_center padding_left-right_1em">
              <h1>Заказать звонок
              </h1>
            </legend>
            <form method="post" action="{% url 'feedback:client_feedback' %}" id="feedback_form">
                {% csrf_token %}
              <div class = "w_50_sm_70_md pos_center margin_top_3em" class="pos_center">


                <div class="input_style">
                    {% if client != '' %}
                    <input type="text" id="name" name="name" value="{{ client.name }}" readonly>
                    {% else %}
                    <input type="text" id="name" name="name" value="{{ name|default:'' }}">
                    {% endif %}
                    <label for="name">Ваше имя</label>
                    
                </div>

                
                
                <div class="input_style margin_top_3em">
                  
                  {% if client != '' %}
                  <input type="text" id="phone" name="phone" value="{{ client.phone }}" readonly>
                  {% else %}
                  <input class="phone" type="text" id="phone" name="phone" value="{{ phone|default:'' }}" required>
                  {% endif %}
                  <label for="phone">Номер телефона</label>
                </div>
                <div>
                  <div class="textarea_style margin_top_3em">
                    <textarea type="textarea" id="comment" name="comment" rows="5" value="{{ comment|default:'' }}"></textarea>
                    <label for="comment" class = "textarea_style_label">Опишите свою проблему
                    </label>
                  </div>
                </div>
                <div>
                </div>
                <div class="flex_row flex_space-between margin_top_3em">
                  <div class="pos_сenter">
                    <a href="#" class="button_reset">Отменить
                    </a>
                  </div>
                  <div class="pos_сenter">
                    <button type="submit" class="button_show-more">Заказать звонок</button>
                  </div>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
      </section>
         {% endblock %}	

         {% block style_extend %}
         <style>
            .input_style_error {
                font-size: 80%;
                color: #F77A52;
                vertical-align: middle;
              }
    
            .input_style_error i {
                font-size: 110%;
              }
              
            .input_style_invalid input {
                border-bottom: 2px solid #F77A52;
              }
    
            .input_style_valid input {
                border-bottom: 2px solid rgb(19, 168, 76);
              }
          </style>
         {% endblock %}

         
        {% block js_extend %}
        <script src="{% static '/js/jquery.validate.min.js' %}" charset="UTF-8"></script>
        <script>
            jQuery(document).ready(function () {
            input_filled('input');
            input_filled('textarea');
             // Список методов валидации
		  // https://jqueryvalidation.org/documentation/#link-list-of-built-in-validation-methods
		  // mobileRU : https://github.com/jquery-validation/jquery-validation/blob/master/src/additional/mobileRU.js
            form_validate(
                $("#feedback_form"), 
                {	
                    name:{required:false},
                    phone:{required:true, mobileRU: true}
                    // email:{required:true, mobileRU: true}
                },
                {
                    name:{required: "Введите имя"},
                    phone:{required: "Введите телефон", mobileRU: "В формате +71234567890"}
                    // email:{required: "Введите телефон", mobileRU: "В формате +71234567890"}
                }
                )
            })          
        </script>
        {% endblock %}
