<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Заказать звонок
    </title>
    <meta name="description" content="Описание страницы" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/fa/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class = "fix_width bg-head ">
    <header class = "flex_column header_container_height">
      <div class="flex_row header-top_container header-top_border flex_space-between">
        <div class="header_container_mail_phone">
          <div class="flex_row flex_space-between header_container_m_p_w">
            <div class="flex_row header_contact_center">
              <a>
                <div class="header_i_for_div margin_right_04em disp_none_header">
                  <i class="far fa-envelope header_i">
                  </i>
                </div>
              </a>
              <div class = "header_social_mail">
                <a class = "text-align" title="Почта" href="mailto: example@mail.ru">
                  example@mail.ru
                </a>
              </div>
            </div>
            <div class="flex_row header_contact_center">
              <div class="header_i_for_div margin_right_04em disp_none_header">
                <i class="fas fa-phone-alt header_i">
                </i>
              </div>
              <div class = "header_social_phone">
                <a id = "phone" class = "text-align" href = "tel:+7 (924)8793741">
                  +7 (901) 123-45-67
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex_row flex_space-between header_container_social">
          <div>
            <a class ="header_i_tlg" title="Telegram" href="https://vk.com/dmitrievnaa1999">
              <div class="header_i_for_div ">
                <i class="fab fa-telegram-plane header_i">
                </i>
              </div>
            </a>
          </div>
          <div>
            <a class ="header_i_vk" title="Vkontakte" href="https://vk.com/dmitrievnaa1999">
              <div class="header_i_for_div">
                <i class="fab fa-vk header_i ">
                </i>
              </div>   
            </a>
          </div>
          <div>
            <a class ="header_i_wa" title="WhatsApp " href="https://vk.com/dmitrievnaa1999"> 
              <div class="header_i_for_div">
                <i class="fab fa-whatsapp header_i">
                </i>
              </div>
            </a>
          </div>
          <div>
            <a class ="header_i_ig" title="Instagram " href="https://vk.com/dmitrievnaa1999"> 
              <div class="header_i_for_div">
                <i class="fab fa-instagram header_i">
                </i>
              </div>
            </a>
          </div>
        </div>
        <div class=" header_person">
          <a  id = "user" href = "personal_data.html" > 
            <div class="header_i_for_div header_i">
              <i class="fas fa-user">
              </i>
            </div>   
          </a>
        </div>
      </div>
      <div class="flex_row header-bottom flex_space-between flex_wrap">
        <div class="header">
          <div class="flex_row flex_justify-content_flex-start logo margin_bottom_1em width_70">
            <div class="header-logo">
              <a href="/main.html">
                <img class="logo" href="/main.html" src="icons/logo.png" alt="Название сайта"/>
              </a>
            </div>
            <div class="header-logo_name">
              <a class = "link_style_none" href="/main.html">Название сайта
              </a>
            </div>
          </div>
          <input class="menu-btn" type="checkbox" id="menu-btn" />
          <label class="menu-icon" for="menu-btn">
            <span class="navicon">
            </span>
          </label>
          <ul class="menu">
            <li>
              <a href="/aboutcompany.html">О&nbsp;компании
              </a>
            </li>
            <li>
              <a href="/catalog.html">Каталог
              </a>
            </li>
            <li>
              <a href="/articles.html">Статьи
              </a>
            </li>
            <li>
              <a href="/reviews.html">Отзывы
              </a>
            </li>
            <li>
              <a href="/contacts.html">Контакты
              </a>
            </li>
            <li>
              <a href="/order.html" class ="link_style_col">Заказать
              </a>
            </li>
          </ul>
        </div>
        <div class="flex_row flex_justify-content_flex-start header_disp_none">
          <div class="header-logo">
            <a href="/main.html">
              <img class="logo" href="/main.html" src="icons/logo.png" alt="Название сайта"/>
            </a>
          </div>
          <div class="header-logo_name">
            <a class = "link_style_none" href="/main.html">Название сайта
            </a>
          </div>
        </div>
        <div class="flex_row header_navbar header_disp_none">
          <ul>
            <li>
              <a  class = "header_navbar_active" title="О компании" href="/aboutcompany.html">О&nbsp;компании
              </a>
            </li>
            <li>
              <a title="Каталог" href="/catalog.html">Каталог
              </a>
            </li>
            <li>
              <a title="Статьи" href="/articles.html">Статьи
              </a>
            </li>
            <li>
              <a title="Отзывы" href="/reviews.html">Отзывы
              </a>
            </li>
            <li>
              <a title="Контакты" href="/contacts.html">Контакты
              </a>
            </li>
            <li>
              <a class ="link_style_col" title="заказать" href="/order.html">Заказать
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <section>
        <h1>Заказать звонок
        </h1>
        <ul class="breadcrumb">
          <li>
            <a href="URL">Главная
            </a>
          </li>
          <li>Заказать звонок
          </li>
        </ul>
        <div class="    margin_top_2">     
          <!-- Форма комментария -->
          <fieldset class="border_fieldset_top" >
            <legend class="pos_center padding_left-right_1em">
              <h1>Заказать звонок
              </h1>
            </legend>
            <form id="feedback_form">
              <div class = "w_50_sm_70_md pos_center margin_top_3em" class="pos_center">
                <div class="input_style ">
                  <input type="text" id="name" name="name" autocomplete="off">

                  <label for="name">Ваше имя</label>
                </div>
                <div class="input_style margin_top_3em">
                  <input type="text" id="email"  name="email" autocomplete="off">
                  <label for="email">Номер телефона
                  </label>
                </div>
                <div>
                  <div class="textarea_style margin_top_3em">
                    <textarea type="textarea" rows="5"></textarea>
                    <label id = "label" class = "textarea_style_label">Опишите свою проблему
                    </label>
                  </div>
                </div>
                <div class="flex_row flex_space-between margin_top_3em">
                  <div class="pos_сenter">
                    <a href="#" class="button_reset">Отменить
                    </a>
                  </div>
                  <div class="pos_сenter">
                    <input type=submit class="button_show-more" value ="Заказать звонок">
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
      </section>
      <footer class = "flex_row header_container_height flex_space-between footer_container">
        <div class="header-logo disp_none_830">
          <a href="/main.html">
            <img class="logo" href="/main.html" src="icons/logo.png" alt="Название сайта"/>
          </a>
        </div>
        <div class="footer_all-link">
          <div class="flex_row footer_container_l">
            <div class="flex_column footer_first-link">
              <a title="Заказать" href="/catalog.html">Заказать
              </a>
              <a title="Доработка" href="/articles.html">Доработка
              </a>
              <a title="О нас" href="/aboutcompany.html">О нас
              </a>
            </div>
            <div class="flex_column">
              <a title="Каталог" href="/catalog.html">Каталог
              </a>
              <a title="Статьи" href="/articles.html">Статьи
              </a>
              <a title="Отзывы" href="/reviews.html">Отзывы
              </a>
            </div>
          </div>
        </div>
        <div class="flex_column footer_cont_m_p_s">
          <div class="flex_row footer_cont_m_p">
            <div class="flex_row footer_container_mail">
              <a>
                <div class="header_i_for_div margin_right_04em disp_none_992">
                  <i class="far fa-envelope header_i">
                  </i>
                </div>
              </a>
              <div class = "header_social_mail">
                <a class = "text-align" title="Почта" href="mailto: example@mail.ru">
                  example@mail.ru
                </a>
              </div>
            </div>
            <div class="flex_row footer_container_phone">
              <div class="header_i_for_div margin_right_04em disp_none_992">
                <i class="fas fa-phone-alt header_i">
                </i>
              </div>
              <div class = "header_social_phone">
                <a id = "phone" class = "text-align" href = "tel:+7 (924)8793741">
                  +7 (901) 123-45-67
                </a>
              </div>
            </div>
          </div>
          <div class="flex_row footer_container_social">
            <div>
              <a class ="header_i_tlg" title="Telegram" href="https://vk.com/dmitrievnaa1999">
                <div class="header_i_for_div ">
                  <i class="fab fa-telegram-plane header_i">
                  </i>
                </div>
              </a>
            </div>
            <div>
              <a class ="header_i_vk" title="Vkontakte" href="https://vk.com/dmitrievnaa1999">
                <div class="header_i_for_div">
                  <i class="fab fa-vk header_i ">
                  </i>
                </div>   
              </a>
            </div>
            <div>
              <a class ="header_i_wa" title="WhatsApp " href="https://vk.com/dmitrievnaa1999"> 
                <div class="header_i_for_div">
                  <i class="fab fa-whatsapp header_i">
                  </i>
                </div>
              </a>
            </div>
            <div>
              <a class ="header_i_ig" title="Instagram " href="https://vk.com/dmitrievnaa1999"> 
                <div class="header_i_for_div">
                  <i class="fab fa-instagram header_i">
                  </i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </footer>
      </body>
      <script src="js/jquery.js"></script>
      <script type="text/javascript" src="js/javascript.js" charset="UTF-8"></script>
	  
	  <!-- !!! --> 
      <script type="text/javascript" src="js/jquery.validate.min.js" charset="UTF-8"></script>
	  <style>
		.input_style_error {
			font-size: 80%;
			color: #F77A52;
			vertical-align: middle;
		  }

		.input_style_error i {
			font-size: 110%;
		  }
		  
		.input_style_invalid input {
			border-bottom: 2px solid #F77A52;
		  }

		.input_style_valid input {
			border-bottom: 2px solid rgb(19, 168, 76);
		  }
	  </style>
      <script>
        jQuery(document).ready(function () {
          input_filled('input');
          input_filled('textarea');
		  // Список методов валидации
		  // https://jqueryvalidation.org/documentation/#link-list-of-built-in-validation-methods
		  // mobileRU : https://github.com/jquery-validation/jquery-validation/blob/master/src/additional/mobileRU.js
		  form_validate(
			$("#feedback_form"), 
			{	
				name:{required:true},
				email:{required:true, mobileRU: true}
			},
			{
				name:{required: "Введите имя"},
				email:{required: "Введите телефон", mobileRU: "В формате +71234567890"}
			}
			)
        })
     </script>
	 <!-- !!! --> 
    </html>
