{% extends 'basic/pattern.html' %}
{% load static %}
{% load common_tags %}
<title>{% block page_title %}Заказать звонок{% endblock %}
 {% block content %}
<section>
{% block breadcrumb %}
<ul class="breadcrumb">
{% breadcrumb_url 'Главная' 'software:catalog' %}
{% breadcrumb_url 'Заказать звонок' %}
</ul>
{% endblock %}
        <div class="margin_top_2">     
          <!-- Форма комментария -->
          <fieldset class="border_fieldset_top">
            <legend class="pos_center padding_left-right_1em">
              <h1>Заказать звонок
              </h1>
            </legend>
            {% autoescape on %}
            <form method="post" action="{% url 'feedback:client_feedback' %}" id="feedback_form">
                {% csrf_token %}
              <div class = "w_50_sm_70_md pos_center margin_top_3em" class="pos_center">
                <div class="input_style">
                    {% if client != '' %}
                    {{form.name}}
                    {% else %}
                    {{form.name}}
                    {% endif %}
                    <label for="name">Ваше имя</label>   
                </div>
                {% if form.has_changed %}
                <div class="pos_left_for_text input_style_error">{{ form.errors.name }}</div>
                {% endif %}
                <div class="input_style margin_top_3em">
                  {% if client != '' %}
                  {{form.phone}}
                  {% else %}
                  {{form.phone}}
                  {% endif %}
                  <label for="phone">Номер телефона *</label>
                </div>
                {% if form.has_changed %}
                <div class="pos_left_for_text input_style_error">{{ form.errors.phone }}</div>
                {% endif %}
                <div>
                  <div class="textarea_style margin_top_3em">
                    {{form.comment}}
                    <label for="comment" class = "textarea_style_label">Опишите свою проблему
                    </label>
                  </div>
                </div>
                <div>
                </div>
                <div class="pos_сenter">
                    <button type="submit" class="button_show-more">Заказать звонок</button>
                </div>
              </div>
            </form>
            {% endautoescape %}
          </fieldset>
        </div>
      </section>
         {% endblock %}	

        {% block style_extend %}
        <style>
        .input_style_error {
            font-size: 80%;
            color: #F77A52;
            vertical-align: middle;
            }

        .input_style_error i {
            font-size: 110%;
            }
            
        .input_style_invalid input {
            border-bottom: 2px solid #F77A52;
            }

        .input_style_valid input {
            border-bottom: 2px solid rgb(19, 168, 76);
            }
        </style>
        {% endblock %}

        {% block js_extend %}
        <script src="{% static '/js/jquery.validate.min.js' %}" charset="UTF-8"></script>
        <script>
            jQuery(document).ready(function () {
            input_filled('input');
            input_filled('textarea');
             // Список методов валидации
		  // https://jqueryvalidation.org/documentation/#link-list-of-built-in-validation-methods
		  // mobileRU : https://github.com/jquery-validation/jquery-validation/blob/master/src/additional/mobileRU.js
            form_validate(
                $("#feedback_form"), 
                {	
                    phone:{mobileRU: true}
                },
                {
                    name:{required: "Введите имя"},
                    phone:{required: "Введите телефон", mobileRU: "Некорретный номер телефона. Попробуйте еще раз"}
                }
                )
            })          
        </script>
        {% endblock %}
