{% extends 'basic/pattern.html' %}
{% load static %}
{% load software_tags %}
{% load common_tags %}
{% block page_title %}Отзыв{% endblock %}
{% block page_description %}Компания Название сайта предлагает вам ознакомиться с отзывом на ПО {{software.name}}, а также оставить свой отзыв!
{% endblock %}

{% block semantics %}

<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Отзыв o {{software.name|default:'компании'}}" />
<meta property="og:description" content="{{review.content|linebreaks|default:'У вас есть возможность оставить свой отзыв. Нам важно мнеине каждого!'}} " />
<meta property="og:url" content="https://site.ru/reviews/{{review.id}}/" />
<meta property="og:site_name" content="название сайта" />
<meta property="og:image" content="https://site.ru//static/icons/company_1200x630.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />


<script type='application/ld+json'> 
    {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "name": "название компании",
        "url": "https://site.ru/reviews/{{review.id}}/",
        "logo": "{% static 'icons/company.png' %}",
        "image": "{% static 'icons/company.png' %}",
        "description": "Компания Название сайта предлагает вам ознакомиться с отзывом на ПО {{software.name}}, а также оставить свой отзыв!",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "г. Иркутск, ул. Ленина, 6",
        "addressLocality": "Иркутск",
        "addressRegion": "Иркутская область",
        "addressCountry": "Россия"
        },
        
        "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "89011234567",
        "contactType": "general"
        }
    }
</script>

{% endblock %}

{% block link_extend %}
<link rel="stylesheet" href="{% static '/css/lightbox.min.css' %}">
{% endblock %}
 {% block content %}
<section>
{% block breadcrumb %}
<ul class="breadcrumb">
{% breadcrumb_url 'Главная' 'main:index' %}
{% breadcrumb_url 'Отзывы' 'review:list_review' %}
{% breadcrumb_url 'Отзыв' %}
</ul>
{% endblock %}
        <section class="margin_top_3em  pos_center_for_div"> 
          <div class="flex_row flex_space-between" > 
            <div class=" flex_column w_40_sm_70 pos_center_for_div padding_bottom_4em" style="margin-top: 0;">
              <div class="">
                <div class="flex_row flex_space-between">
                  <div class = "reviews_title">{{review.name|default:"Клиент"}}
                  </div>	
                  <div class = "reviews_date">{{review.date|date:"j E Y"}}
                  </div>	
                </div>	
                <div class="flex_row ">	
                  <div class="rating-result pos_center_for_div">
                    {% for num_star in rating %}
                    {% if review.star|more_than_numbers:num_star %} 
                    <span class="active"></span> 	                        
                    {% else %}
                    <span></span>
                    {% endif %}
                    {% endfor %}
                  </div>			
                </div>	  
                <div  class = "reviews_text_full pos_center_for_div">       
                  <span>{{review.content|linebreaks|default:""}} 
                  </span>
                </div>	
                {% if review_img %}
                <fieldset class="fieldset_tags   pos_center margin_top_2" name="fieldset">
                    <legend>Скриншоты
                    </legend>
                        <div class = "fieldset_tags_word">
                            <div class="flex_row">
                            {% for s in review_img %}
                                <div class = "reviews_screenshot cursor">
                                    <a class="example-image-link" href="{{s.photo.url}}" data-lightbox="example-set"><img class="example-image max_width_10em_img" src="{{s.photo.url}}" alt=""/></a>
                                </div>
                            {% endfor %}
                            </div>
                        </div>        
                </fieldset>
                {% endif %} 
                {% if review.comment %}
                <fieldset class="reviews_adm_full" name="fieldset" >
                    <legend class="pos_center reviews_adm_px">Администратор
                    </legend>
                    <span>{{review.comment|linebreaks|default:""}}
                    </span>	
                </fieldset>
                {% endif %}  
              </div>
            </div>
            {% if software.id %}
            <div class="w_50_sm pos_center_sm"> 
              <div class="pos_center">
                <h2 style="margin-top: 0em;">Продукт, на который оставили отзыв:</h2> 
              </div>
              <div class="review_card_software"> 
                <!-- Бокс одной карточки --> 
                <div class="catalog_card_software"> 
                  <!-- Бокс одной карточки --> 
                  <article class="flex_column software_alone_container blue_bg"> 
                    <!-- Контейнер одной карточки --> 
        
                    <div class = "flex_column width_100"> 
              <div>
                  {% if software.is_free is False %}
                  <div class = "software_price">{{software.price}} &#8381</div>
                  {% endif %}
                         
                      <!-- Контейнер названия и типа ПО -->
                      <div class="software_div_name">
                        <!-- Контейнер названия и типа ПО -->
                        <a class = "software_name" href="{% url 'software:software_page' software.id %}">{{software.name}}</a>
                  </div>
                </div>
                      <span class = "software_type">{{software.get_type.0|join:", "|default:""}}
                      </span>
                    </div>
                    <div class="flex_row container_img_text">  
                      <!-- Контейнер картинки и текста --> 
                      <div class = "flex_column software_container_image_button"> 
                        <!-- Контейнер картинки и кнопок -->
                        <div class = "software_div_images"> 
                          <!-- Бокс картинки --> 
                          {% if photo_dict %}
                            {% with photo=photo_dict|get_value_for_dict:software.id %}
                            {% if photo %}
                            <a href="{% url 'software:software_page' software.id %}"><img class = "img_width cursor" src="{{photo.photo.url}}"  alt="{{software.name}}"/></a>
                            {% endif %}
                            {% endwith %}
                          {% endif %}
                        </div>
                        <div class="flex_row software_container_button flex_space-between"> 
                            <!-- Бокс кнопки покупки и лайка --> 
                                  
                                {% if software.price <= 0 or software.is_free %}
                                <a href="{% url 'software:software_download' software.id %}" class="software_button-pay_style dark_blue-bg software_button-pay_style_width">Скачать бесплатно</a>
                                {% else %}
                                <a href="{% url 'software:software_buy' software.id %}" class="software_button-pay_style dark_blue-bg software_button-pay_style_width">Приобрести</a>
                                {% endif %}                  
                                <div>
                                    <div data-target="favourite" data-url="/softwares/favourite/"  data-id="{{software.id}}">
                                    {% if user %}
                                    {% with favourite=software|is_favourite:user %}
                                        {% if favourite %}
                                        <i class="fa fa-heart button_like_true" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="fa fa-heart button_like" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endwith %}
                                    {% else %}
                                    <i class="fa fa-heart button_like" aria-hidden="true"></i>
                                    {% endif %}  
                                    </div>
                                </div>
                          </div>
                      </div>
                      <div class = "software_description article_div_text">
                        <div style = "padding-bottom: 0.25em">Для: 
                          <span>{{software.get_area|join:", "|default:"Не ограничено"}}
                          </span>
                        </div>
                        <ul class = "software_description_list"style = "list-style: none">
                          {{software.description_medium}}
                        </ul>
                      </div>
                    </div>
                    <div class = "software_tag">
                      <span>
                          {% for tag in software.get_tags %}
                          <a href="../../softwares/?soft_tags={{tag.name}}">#{{tag}}</a>
                          {% endfor %}
                      </span>
                    </div>
                  </article>
                </div>
              </div>
              {% if similar_tags_block %}
              <fieldset class="fieldset_tags pos_center margin_top_2" name="fieldset">
                <legend>Облако тегов
                </legend>
                {{similar_tags_block}}
              </fieldset>
              {% endif %}  
            </div>
            {% endif %}  
            </div>  
            {% if similar_block %}
                <div class="margin_top_2">    
                    <!--Это контейнер похожих ПО-->
                    <div class="pos_center">
                    <h2>Похожие программные продукты
                    </h2>
                    </div>
                    <div>
                        {{similar_block}}
                    </div>
                </div>
            {% endif %}  
        </section>
      </section>
      {% endblock %}
      {% block js_extend %}
        <script src="{% static '/js/slick.min.js' %}"></script>
        <script src="{% static '/js/lightbox.min.js' %}"></script>
        <script>
            jQuery(document).ready(function () {
                carousel_soft('same_software');
            })          
        </script>
        {% endblock %}	
