{% extends 'basic/pattern.html' %}
{% load static %}
{% load common_tags %}
<title>{% block page_title %}Написать отзыв{% endblock %}
 {% block content %}
<section>
    {% block breadcrumb %}
    <ul class="breadcrumb">
    {% for crumb in list_crumb %}
    {% if crumb.2 %}
    {% breadcrumb_url crumb.0 crumb.1 crumb.2 %}
    {% else %}
    {% breadcrumb_url crumb.0 crumb.1 %}
    {% endif %}
    {% endfor %}
    {% breadcrumb_url 'Написать отзыв' %}
    </ul>
    {% endblock %}
        <div class="margin_top_2">     
          <!-- Форма комментария -->
          <fieldset class="border_fieldset_top fieldset_width_p2_p1">
            <legend class="pos_center padding_left-right_1em">
              <h1>Написать отзыв
              </h1>
            </legend>
            {% autoescape on %}
            <form method="post" id="review_form">
                {% csrf_token %}

                <div class = "w_50_sm_70_md pos_center margin_top_3em" class="pos_center">
                    <!-- <ul class="radio_checkbox pos_center_for_div">
                      <li>
                        <input id="type_com" type="radio" name="kind" value="com">
                        <label for="type_com">Отзыв о компании
                        </label>
                      </li>
                      <li>
                        <input id="type_ord" type="radio" name="kind" value="ord" >
                        <label for="type_ord">Отзыв о заказе
                        </label>
                      </li>
                      <li>
                        <input id="type_sof" type="radio" name="kind" value="sof" >
                        <label for="type_sof">Отзыв о продукте
                        </label>
                      </li> 
                    </ul> -->
                    <div class="flex_row reviews_stars flex_flex-center padding_top-bootom_1em">	
                      <div class="rating-area">
                        {% for num_star in rating %}
                        {% if num_star|comparison_numbers:form.star.value %} 
                        <input type="radio" checked id="star-{{num_star}}" name="star" value="{{num_star}}">
                        <label for="star-{{num_star}}" title="Оценка «{{num_star}}»"></label>	                        
                        {% else %}
                        <input type="radio" id="star-{{num_star}}" name="star" value="{{num_star}}">
                        <label for="star-{{num_star}}" title="Оценка «{{num_star}}»"></label>	
                        {% endif %}
                        {% endfor %}

                        <!-- <input type="radio" id="star-5" name="star" value="5">
                        <label for="star-5" title="Оценка «5»"></label>	
                        <input type="radio" id="star-4" name="star" value="4">
                        <label for="star-4" title="Оценка «4»">
                        </label>    
                        <input type="radio" id="star-3" name="star" value="3">
                        <label for="star-3" title="Оценка «3»">
                        </label>  
                        <input type="radio" id="star-2" name="star" value="2">
                        <label for="star-2" title="Оценка «2»">
                        </label>    
                        <input type="radio" id="star-1" name="star" value="1">
                        <label for="star-1" title="Оценка «1»">
                        </label> -->
                      
                      </div>	
                    </div>
                    {% if form.has_changed %}
                    <div class="pos_left_for_text input_style_error">{{ form.errors.star }}</div>
                    {% endif %}
                    <div class="input_style">
                        {{form.name}}
                      <label for="name">Ваше имя
                      </label>
                    </div>
                    {% if form.has_changed %}
                    <div class="pos_left_for_text input_style_error">{{ form.errors.name }}</div>
                    {% endif %}
                    <div class="input_style margin_top_3em">
                        {{form.email_phone}}
                      <label for="ephone">Номер телефона/ эл. почта *
                      </label>
                    </div>
                    {% if form.has_changed %}
                    <div class="pos_left_for_text input_style_error">{{ form.errors.email_phone }}</div>
                    {% endif %}
                    <div>
                      <div class="textarea_style margin_top_3em">
                        {{form.content}}
                        <label for="content" class = "textarea_style_label">Отзыв
                        </label>
                      </div>
                    </div>
                    <div class="input__wrapper">
                      <input name="file" type="file" id="input__file" class="input input__file " multiple>
                      <label for="input__file" class="input__file-button">
                        <span class="input__file-icon-wrapper">
                          <i class="fa fa-paperclip chat_panel_sticky_clip_i" aria-hidden="true">
                          </i>
                        </span>
                        <span class="input__file-button-text">Выберите файл
                        </span>
                      </label>
                    </div>
                    <div class="flex_row flex_space-between margin_top_3em">
                      <div class="pos_сenter">
                        <a href="{% url 'review:list_review' %}" class="button_reset">Отменить
                        </a>
                      </div>
                      <div class="pos_сenter">
                        <button type="submit" class="button_show-more">Отправить
                        </button>
                      </div>
                    </div>
                  </div>
            </form>
            {% endautoescape %}
          </fieldset>
        </div>
      </section>
         {% endblock %}	

        {% block style_extend %}
        <style>
        .input_style_error {
            font-size: 80%;
            color: #F77A52;
            vertical-align: middle;
            }

            
        .input_style_invalid input {
            border-bottom: 2px solid #F77A52;
            }

        .input_style_valid input {
            border-bottom: 2px solid rgb(19, 168, 76);
            }
        </style>
        {% endblock %}

        {% block js_extend %}
        <script src="{% static '/js/jquery.validate.min.js' %}" charset="UTF-8"></script>
        <script src="{% static '/js/file_input_custom.js' %}" charset="UTF-8"></script>
        <script>
            jQuery(document).ready(function () {
            input_filled('input');
            input_filled('textarea');
            input_file();
             // Список методов валидации
		  // https://jqueryvalidation.org/documentation/#link-list-of-built-in-validation-methods
		  // mobileRU : https://github.com/jquery-validation/jquery-validation/blob/master/src/additional/mobileRU.js
            form_validate(
                $("#review_form"), 
                {	
                    star:{required: "Пожалуйста поставьте оценку"},
                    phone:{mobileRU: true}
                    
                },
                {
                    name:{required: "Введите имя"},
                    star:{required: "Пожалуйста поставьте оценку"},
                    phone:{required: "Введите телефон", mobileRU: "Некорретный номер телефона. Попробуйте еще раз"}
                }
                )
            })          
        </script>
        {% endblock %}
